@import "../../variable.scss";

.services__desc {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    @include tablet {
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    // @include mobile {
    //     -webkit-line-clamp:2;
    //     overflow: unset;
    // }
}