.title {
    position: relative;
}


.title::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    background-color: black;
    opacity: 0.2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}